{% extends 'base.html' %}

{% block page_content %}
    <h2>Login</h2>
    {% for message in messages %}
        <p class="alert alert-danger">{{ message }}</p>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
    </form>
{% endblock page_content %}