{% extends 'base.html' %}

{% load static %}

{% block page_content %}
    <h1>{{ user.username }}'s Profile</h1>
    <!-- Add the "Update Profile" button here -->
    {% if user == profile_user %}
        <a href="{% url 'profile_update' %}"><button>Update Profile</button></a>
        <a href="{% url 'view_my_posts' %}"><button>My Posts</button></a>
    {% endif %}
    <p>Email: {{ user.email }}</p>
    <section>
        <p>Bio: {{ user.bio }}</p>
    </section>

    {% if user.has_profile_image %}
        <img src="{{ user.profile_image.url }}" alt="{{ user.username }}">
    {% else %}
        <img src="{% static 'default/default_profile_image.jpg' %}" alt="{{ user.username }}">
    {% endif %}

    <h3>Following Categories:</h3>
    <ul>
        {% for category in followed_categories %}
            <li>{{ category.name }}</li>
        {% empty %}
            <li>You're not following any categories!</li>
        {% endfor %}
    </ul>

{% endblock page_content %}