{% extends 'base.html' %}
{% load static %}

{% block page_content %}
  <h1>{{ profile_user.username }}'s Profile</h1>

  {% if profile_user.profile_image %}
    <img src="{{ profile_user.profile_image.url }}" alt="{{ profile_user.username }}">
  {% else %}
    <img src="{% static 'default/default_profile_image.jpg' %}" alt="{{ profile_user.username }}">
  {% endif %}
  <section>
    <p>Bio: {{ profile_user.bio }}</p>
  </section>
  <h3>Followed Categories:</h3>
  <ul>
    {% for category in followed_categories %}
      <li>{{ category.name }}</li>
    {% empty %}
      <li>This user is not following any categories.</li>
    {% endfor %}
  </ul>

  <div id="user-posts">
    <h2>{{ profile_user.username }}'s Approved Posts</h2>
    {% for post in approved_posts %}
      <div class="post">
        <h3><a href="{% url 'Blog_details' post.slug %}">{{ post.title }}</a></h3>
        <p>{{ post.body|truncatewords:30|safe }}</p>
      </div>
    {% empty %}
      <p>This user has no approved posts.</p>
    {% endfor %}
  </div>
  
{% endblock page_content %}