<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Hammer Sports</title>
</head>
<body>
    <h1>
        Hammer Sports Blog!
    </h1>
    <a href="{% url "Blog_index" %}">Home</a>
    <hr>
    {% block page_title %}

    {% endblock page_title %}

    {% block page_content %}

    {% endblock page_content %}
</body>
</html>