<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Hammer Sports</title>
</head>
<body>
<header>
    <!-- To Do: Needs Better Styling, mus make a Sticky Header with other styles -->
    <div class="header-content">
        <h1>
            <a href="{% url "Blog_index" %}">HammerSports</a>
        </h1>
        <nav>
            <ul>
                <li><a href="{% url "Blog_index" %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <!-- <li><a href="{% url 'profile_update' %}">Update Profile</a></li> -->
                    <li><a href="{% url 'my-profile' %}">Profile</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <form method="GET" action="{% url 'search' %}">
            <input type="text" name="q" placeholder="Search...">
            <input type="submit" value="Search">
        </form>
    </div>
</header>

{% block page_title %}

{% endblock page_title %}

{% block page_content %}

{% endblock page_content %}

<footer>
    <div class="footer-content">
        <p>&copy; 2022 Hammer Sports. All rights reserved.</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
    </div>
</footer>

</body>
</html>