{% extends 'base.html' %}

{% block page_title %}
    Page Not Found
{% endblock page_title %}

{% block page_content %}
<div class="min-h-screen flex items-center justify-center bg-white py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Page not found
            </h1>
            <p class="mt-2 text-center text-sm text-gray-600">
                We're sorry, but the page you were looking for doesn't exist.
            </p>
        </div>
    </div>
</div>
{% endblock page_content %}