{% extends "base.html" %}

{% block page_title %}
    <h2>
        Blog Posts
    </h2>
{% endblock page_title %}

{%  block page_content %}
    {% block posts %}
        {% for post in posts %}
        <h3><a href="{% url 'Blog_details' slug=post.slug %}">{{ post.title }}</a></h3>
        {% if post.featured_image %}
            <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
        {% endif %}
        <small>
            {{post.created_on.date}} | Categories:
            {% for category in post.categories.all %}
                <a href="{% url 'Blog_category' category.name %}">{{category.name}}</a>
            {% endfor %}
        </small>
        <p>{{ post.body|striptags|escape|slice:":400" }}...</p>
        {% endfor %}
    {% endblock posts %}

{% endblock page_content %}